*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-flow: column wrap;
    gap: 16px;
}

.header{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    background: lightblue;
    padding: 32px;
    box-shadow: 0 0 5px 5px lightskyblue;
}

.gameboard_container{
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    align-items: center;
}

.turn{
    font-size: 2rem;
}

.gameboard{
    padding: 32px;
    display: grid;
    grid-template-rows: repeat(3,100px);
    grid-template-columns: repeat(3,100px);
    justify-content: center;
}

.cell{
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.restart{
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid;
    background: lightcoral;
    font-size: 2rem;
}